- title "Course"

%p
  %strong User:
  = @course.user
%p
  %strong Title:
  = @course.title
%p
  %strong Link:
  = @course.link

%p
  = link_to "Edit", edit_members_course_path(@course)
  |
  = link_to "Destroy", members_course_path(@course), :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", members_courses_path
