- title "Papers"

%table
  %tr
    %th User
    %th Title
  - for paper in @papers
    %tr
      %td= paper.user_id
      %td= paper.title
      %td= link_to 'Show', members_paper_path(paper)
      %td= link_to 'Edit', edit_members_paper_path(paper)
      %td= link_to 'Destroy', members_paper_path(paper), :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Paper", new_members_paper_path
