- title "Paper"

%p
  %strong User:
  = @paper.user
%p
  %strong Title:
  = @paper.title

%p
  = link_to "Edit", edit_members_paper_path(@paper)
  |
  = link_to "Destroy", members_paper_path(@paper), :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", members_papers_path
