<% title "Researches" %>

<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th>Description</th>
  </tr>
  <% for research in @researches %>
    <tr>
      <td><%= research.title %></td>
      <td><%= research.link %></td>
      <td><%= research.description %></td>
      <td><%= link_to "Show", user_research_path(current_user,research) %></td>
      <td><%= link_to "Edit", edit_user_research_path(current_user,research) %></td>
      <td><%= link_to "Destroy", user_research_path(current_user,research), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Research", new_user_research_path(current_user) %></p>
