<%= form_for @accomplishment do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :p_id %><br />
    <%= f.text_field :p_id %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p><%= f.submit %></p>
<% end %>
