<% title "Researches" %>

<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th>Description</th>
  </tr>
  <% for research in @researches %>
    <tr>
      <td><%= research.title %></td>
      <td><%= research.link %></td>
      <td><%= research.description %></td>
      <td><%= link_to "Show", research %></td>
      <td><%= link_to "Edit", edit_research_path(research) %></td>
      <td><%= link_to "Destroy", research, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Research", new_research_path %></p>
