-content_for :style_name do
  = "#{@user.style.stylesheet}"

#prof-info
  .content-section
    .clearfix
      -if current_user == @user
        %h3.logged-in Biography
        %button.add-element#edit-biography Edit Biography
        .clear
        %p#bio= editable_field @user, :bio, :submitdata => { :ajax => true }, :type => 'textarea', :submit => 'Update', :cancel => 'Cancel', :tooltip => 'Click to edit', :indicator => 'Saving...'
      -else
        %h3 Biography
        %p#bio= @user.bio
 
  .content-section
    -if current_user == @user
      %h3.logged-in Courses
      .add-element
        =button_to "+Add Course", user_courses_path(@user), :method => :post, :remote => true
      .clear
    -else
      %h3 Courses
    %ul#courses
      - for course in @user.courses
        = render course

  .content-section
    -if current_user == @user
      %h3.logged-in Papers and Publications
      .add-element
        -#=button_to "+Add Paper", new_user_paper_path
      .clear
    -else
      %h3 Papers and Publications
    %ul#papers
      -for paper in @user.papers
        %li= paper.title

  .content-section
    -if current_user == @user
      %h3.logged-in Education
      .add-element
        -#=button_to "+Add School", new_education_path(current_user)
      .clear
    %ul#educations
      -for education in @user.educations
        %li= education.degree

  .content-section
    -if current_user == @user
      %h3.logged-in Research
      .add-element
        -#=button_to "+Add Research", new_research_path(current_user)
      .clear
    -else
      %h3 Research
    %ul#researches
      -for research in @user.researches
        %li= research.title
