- title "Professors"

.clear

#info
  %h3 Explore
  Curious as to what makes a great professor page?  Need inspiration?  Check out some examples from your peers to get a better idea.

- unless @users.count == 0
  = will_paginate @users
  %ul
    - @users.each do |user|
      %li.buttons= link_to "#{user.title} #{user.name}", user_path(user)
  = will_paginate @users
- else
  #zero-count 
    %h3 Oops!  
    %p It looks like no professors have published their personas yet.
