-title "#{@user.title} #{@user.name}"

-content_for :style_name do
  = "#{@user.style_name}"

= link_to "View all Professors", users_path, :class => "button positive"

.clear

#prof-info
  -unless @user.bio.nil?
    .content-section
      %h3 Biography
      %span= @user.bio
    
  -unless @user.courses.count == 0
    .content-section
      %h3 Courses
      -for course in @user.courses
        =link_to course.title, course.link
      
  -unless @user.papers.count == 0
    .content-section
      %h3 Papers
      -for paper in @user.papers
        %span= paper.title

  %h4 Add Paper
  =link_to "+Papers", @user.papers.create
        
= link_to "View all Professors", users_path, :class => "button positive"
