-title "#{@user.title} #{@user.name}"

-content_for :style_name do
  = "#{@user.style_name}"

= link_to "View all Professors", users_path, :class => "button positive"

.clear

#prof-info
  .content-section
    %h3 About @user.name
    -if current_user == @user
      #add-element
        =link_to "Edit Biography", edit_members_user_path(current_user)
      .clear
    .clear
    -unless @user.bio.nil?
      %span= @user.bio
    
  .content-section
    %h3 Current Classes
    -if current_user == @user
      #add-element
        =link_to "+Add Course", new_members_course_path(current_user)
        %br
      .clear
    .clear
    -unless @user.courses.count == 0
      -for course in @user.courses
        %p=link_to "#{course.title}", course.link

  .content-section
    %h3 Publications
    -if current_user == @user
      #add-element
        =link_to "+Add Paper", new_members_paper_path(current_user)
        %br
      .clear
    .clear
    -unless @user.papers.count == 0
      -for paper in @user.papers
        %p= paper.title

        
= link_to "View all Professors", users_path, :class => "button positive"
