-title "#{@user.title} #{@user.name}"

- if @user == current_user
  = link_to "Edit account information", edit_user_path(current_user), :class => "button positive edit"
  
- unless @user.published?
  .clear
  .notice
    %h3 Draft Status
    Your persona is currently in draft status.  Until you publish (click "edit account information" above) students will not be able to view your persona.

.clear

= render @user

- if @user == current_user
  %h4 Curious what other professors' personas look like?
  = link_to "View other Professors",users_path, :class => "button positive"
- else
  %h4 Enough inspiration?
  = link_to "Back to your persona",user_path(current_user), :class => "button positive"
