= form_for @professor do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :bio
    %br
    = f.text_field :bio
  %p
    = f.submit
