<% title "Papers" %>

<table>
  <tr>
    <th>P</th>
    <th>Title</th>
    <th>Filename</th>
  </tr>
  <% for paper in @papers %>
    <tr>
      <td><%= paper.p_id %></td>
      <td><%= paper.title %></td>
      <td><%= paper.filename %></td>
      <td><%= link_to "Show", paper %></td>
      <td><%= link_to "Edit", edit_paper_path(paper) %></td>
      <td><%= link_to "Destroy", paper, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Paper", new_paper_path %></p>
