- title "Professors"

%table
  %tr
    %th Name
    %th Title
    %th Bio
  - for professor in @professors
    %tr
      %td= professor.name
      %td= professor.title
      %td= professor.bio
      %td= link_to 'Show', members_professor_path(professor)
      %td= link_to 'Edit', edit_members_professor_path(professor)
      %td= link_to 'Destroy', members_professor_path(professor), :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Professor", new_members_professor_path
