<% title "Course" %>

<p>
  <strong>P:</strong>
  <%= @course.p_id %>
</p>
<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>
<p>
  <strong>Link:</strong>
  <%= @course.link %>
</p>

<p>
  <%= link_to "Edit", edit_course_path(@course) %> |
  <%= link_to "Destroy", @course, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", courses_path %>
</p>
