-content_for :style_name do
  = "#{@user.style.stylesheet}"

#prof-info
  .content-section
    %h3 Biography
    -if current_user == @user
      #add-element
        =link_to "Edit Biography", edit_members_user_path(current_user)
      .clear
      #bio.editable= @user.bio
    
  .content-section
    %h3 Courses
    -if current_user == @user
      #add-element
        =link_to "+Add Course", new_members_course_path(current_user)
        %br
      .clear
    -unless @user.courses.count == 0
      -for course in @user.courses
        %p=link_to "#{course.title}", course.link

  .content-section
    %h3 Papers
    -if current_user == @user
      #add-element
        =link_to "+Add Paper", new_members_paper_path(current_user)
        %br
      .clear
    -unless @user.papers.count == 0
      -for paper in @user.papers
        %p= paper.title
