-content_for :style_name do
  = "#{@user.style.stylesheet}"

#prof-info
  .content-section
    .clearfix
      %h3 Biography
      -if current_user == @user
        %button.add-element#edit-biography Edit Biography
        .clear
        %p#bio= editable_field @user, :bio, :update_url => members_user_path, :submitdata => { :ajax => true }, :type => 'textarea', :submit => 'Update', :cancel => 'Cancel', :tooltip => 'Click to edit', :indicator => 'Saving...'
      -else
        %p#bio= @user.bio
    
  .content-section
    %h3 Courses
    -if current_user == @user
      .add-element
        =button_to "+Add Course", new_members_course_path(current_user), :method => :get, :remote => true
      .clear
    %ul#courses
      - for course in @user.courses
        = render course
  .content-section
    %h3 Papers and Publications
    -if current_user == @user
      .add-element
        =button_to "+Add Paper", new_members_paper_path(current_user)
      .clear
    %ul#papers
      -for paper in @user.papers
        %li= paper.title

  .content-section
    %h3 Education
    -if current_user == @user
      .add-element
        =button_to "+Add School", new_members_education_path(current_user)
      .clear
    %ul#educations
      -for education in @user.educations
        %li= education.degree

  .content-section
    %h3 Research
    -if current_user == @user
      .add-element
        =button_to "+Add Research", new_members_research_path(current_user)
      .clear
    %ul#researches
      -for research in @user.researches
        %li= research.title
