-content_for :style_name do
  = "#{@user.style.stylesheet}"

#prof-info
  -if @user.bio
    .content-section
      .clearfix
        -if current_user == @user
          %h3.logged-in Biography
          %button.add-element#edit-biography Edit Biography
          .clear
          %p#bio= editable_field @user, :bio, :update_url => members_user_path, :submitdata => { :ajax => true }, :type => 'textarea', :submit => 'Update', :cancel => 'Cancel', :tooltip => 'Click to edit', :indicator => 'Saving...'
        -else
          %h3 Biography
          %p#bio= @user.bio
   
  -if @user.courses.count != 0  
    .content-section
      -if current_user == @user
        %h3.logged-in Courses
        .add-element
          =button_to "+Add Course", new_members_course_path(current_user), :method => :get, :remote => true
        .clear
      -else
        %h3 Courses
      %ul#courses
        - for course in @user.courses
          = render course
 
  -if @user.papers.count != 0      
    .content-section
      -if current_user == @user
        %h3.logged-in Papers and Publications
        .add-element
          =button_to "+Add Paper", new_members_paper_path(current_user)
        .clear
      -else
        %h3 Papers and Publications
      %ul#papers
        -for paper in @user.papers
          %li= paper.title

  -if @user.educations.count != 0
    .content-section
      -if current_user == @user
        %h3.logged-in Education
        .add-element
          =button_to "+Add School", new_members_education_path(current_user)
        .clear
      %ul#educations
        -for education in @user.educations
          %li= education.degree

  -if @user.researches.count != 0
    .content-section
      -if current_user == @user
        %h3.logged-in Research
        .add-element
          =button_to "+Add Research", new_members_research_path(current_user)
        .clear
      -else
        %h3 Research
      %ul#researches
        -for research in @user.researches
          %li= research.title
