= form_for [:members, @user] do |f|
  %p
    = f.label :username
    %br
    = f.text_field :username
  %p
    = f.label :email, "Email Address"
    %br
    = f.text_field :email
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :bio, "A short biography of yourself"
    %br
    = f.text_area :bio
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation, "Confirm Password"
    %br
    = f.password_field :password_confirmation
  = f.error_messages
  %p
    = f.submit (@user.new_record? ? "Sign up" : "Update")
