=javascript_include_tag "users/edit.js"
= form_for [:members, @user] do |f|
  = f.error_messages
  %fieldset
    %legend Account Details
    %p
      = f.label :username
      %br
      = f.text_field :username
    %p
      = f.label :email, "Email Address"
      %br
      = f.text_field :email
    %p
      = f.label :password
      %br
      = f.password_field :password
    %p
      = f.label :password_confirmation, "Confirm Password"
      %br
      = f.password_field :password_confirmation
    %p
      = f.label :name
      .hint Your (real) full name
      = f.text_field :name
    %p
      = f.label :title
      .hint Dr., Mrs., President, etc.
      = f.text_field :title
      
  %fieldset
    %legend Choose a style for your page
    #style-switcher.clearfix
      -for style in @styles
        %button.style-switcher(type='button')
          %span= style.name
          -#kludge to deliver actual stylesheet name to jquery
          %span(class='hidden stylesheet-name')= style.stylesheet
        
  %fieldset
    - if @user.published?
      %legend Need to unpublish your persona?
      %p.hint Marking your persona as a draft will make it no longer publicly viewable.
    - else
      %legend Ready to publish your persona for public viewing?
      %p.hint Once you've entered all the information you want, publish it so the world can see you!
    = f.radio_button :published, '0'
    = f.label :published_0, "Draft"
    = f.radio_button :published, '1', :checked => true
    = f.label :published_1, "Published"

  #layout
    %h2 Edit and rearrange your sections
    .content-section
      %h3 Bio
      .clear
      
      #bio.editable= @user.bio
      -#= f.text_area :bio

    .content-section
      %h3 Papers
      .clear

      %button#new-paper(type='button') New Paper
      
      .clear
      
      .hint Click on the title of the paper to edit it.
      %br
      %ul#papers.sortable
        -#%li= link_to("New Paper", new_members_paper_path(current_user))
        -for paper in @user.papers
          %li.paper(id="paper_#{paper.id}")= paper.title 
    
    .content-section
      %h3 Courses
      .clear
      %ul#courses.sortable
        %li= link_to "New Course", new_members_course_path(current_user)
        -for course in @user.courses
          %li.sortable(id="course_#{course.id}")= course.title 

  %p
    = f.submit (@user.published? ? "View Persona" : "Save")
