- title "Professors"

.clear

#info
  %h3 Explore
  Curious as to what makes a great professor page?  Need inspiration?  Check out some examples from your peers to get a better idea.
  
- unless @users.count == 0
  = will_paginate @users
  %ul
    - @users.each do |user|
      %li.buttons= link_to "#{user.title} #{user.name}", members_user_path(user)
- else
  #zero-count 
    %h3 Oops!  
    It looks like no professors have published their personas yet!
    
%h4 Enough inspiration?
= link_to "Back to your persona", members_user_path(current_user), :class => "button positive"
