-title "#{@user.title} #{@user.name}"

= render "content"

- if @user == current_user
  .clearfix
    = link_to "Edit account information", edit_members_user_path(current_user), :class => "button positive"

- if @user == current_user
  %h3 Curious what other professors have done?
  = link_to "View other Professors", members_users_path, :class => "button positive"
- else
  %h3 Enough inspiration?
  = link_to "Back to your persona", members_user_path(current_user), :class => "button positive"
