-title "#{@user.title} #{@user.name}"

= link_to "View all Professors", members_users_path, :class => "button positive"

.clear

#prof-info
  -unless @user.bio.nil?
    .content-section
      %h3 Biography
      %span= @user.bio
    
  -unless @user.courses.count == 0
    .content-section
      %h3 Courses
      -for course in @user.courses
        =link_to course.title, course.link
      
  -unless @user.papers.count == 0
    .content-section
      %h3 Papers
      -for paper in @user.papers
        %span= paper.title

				
	%h4 Add Paper
	=link_to paper.new
        
-if @user == current_user
  = link_to "Edit", edit_members_user_path, :class => "button positive"
= link_to "View all Professors", members_users_path, :class => "button positive"
