- title "Log in"

.info
  Don't have an account? 
  =link_to "Sign up!", signup_path

= form_for @user_session do |f|
  %p
    = f.label :username
    %br
    = f.text_field :username
  %p
    = f.label :password
    %br
    = f.password_field :password
  = f.error_messages
  %p
    = f.submit "Log in", :class => "button positive"
